<div class="flex">
    <div class="w-1/2">
        <div class="bg-[url('/assets/images/authentication/background.png')] bg-cover bg-center h-screen w-full grid place-items-center">
            <div class="grid grid-cols-1 md:grid-cols-1">
                <img src="assets/images/authentication/sidelogo.png" alt="logo">
            </div>
        </div>
    </div>
    <div class="w-1/2">
        <div class="grid place-items-center w-full h-screen bg-[#825092]">
            <app-login class="w-1/2"></app-login>
        </div>
    </div>
</div>
