<div>
    <div class="flex flex-col gap-5">
        <h2 class="text-3xl font-semibold text-white text-center">Verify Code</h2>
        <p class="text-center text-white">Please enter the code we sent to your mobile number</p>
        <div class="flex justify-between ">
            <input type="text" name="" id="" class="w-16 h-16 text-6xl text-center p-1 rounded-md outline-none">
            <input type="text" name="" id="" class="w-16 h-16 text-6xl text-center p-1 rounded-md outline-none">
            <input type="text" name="" id="" class="w-16 h-16 text-6xl text-center p-1 rounded-md outline-none">
            <input type="text" name="" id="" class="w-16 h-16 text-6xl text-center p-1 rounded-md outline-none">
        </div>
        <p class="text-sm text-[#F2E1E1] text-center">Didn't receive any code?</p>
        <p class="underline text-white text-xl text-center font-semibold">Resend Code</p>
    </div>
</div>