<div class="flex justify-between items-start">
  <h1 class="text-black text-[24px] font-bold">Orders</h1>

  <p-button label="Delivery Charge" (onClick)="showDialogs()"
    styleClass="px-5 bg-[#825092] text-white py-3 font-semibold rounded-md" />
</div>

<div class="grid grid-cols-4 gap-7 mt-7">
  <div class="p-5 bg-white rounded-2xl drop-shadow-lg">
    <div class="flex gap-5 items-center">
      <div
        class="w-24 h-24 bg-[#EEF7FF] rounded-full p-4 flex items-center justify-center">
        <img src="/assets/images/order/order1.svg" alt=""
          class="w-12 h-12 mx-auto mt-1" />
      </div>

      <div class="flex flex-col items-start">
        <h1 class="text-[#A3AED0] font-medium text-2xl">Total Orders</h1>
        <p class="text-black text-2xl font-semibold">
          {{ orderCount.totalOrders }}
        </p>
      </div>
    </div>
  </div>

  <div class="p-5 bg-white rounded-2xl drop-shadow-lg">
    <div class="flex gap-5 items-center">
      <div
        class="w-24 h-24 bg-[#FEFBE8] rounded-full p-4 flex items-center justify-center">
        <img src="/assets/images/order/order2.svg" alt=""
          class="w-12 h-12 mx-auto mt-1" />
      </div>

      <div class="flex flex-col items-start">
        <h1 class="text-[#A3AED0] font-medium text-2xl">Pending Orders</h1>
        <p class="text-black text-2xl font-semibold">
          {{ orderCount.pendingOrders }}
        </p>
      </div>
    </div>
  </div>

  <div class="p-5 bg-white rounded-2xl drop-shadow-lg">
    <div class="flex gap-5 items-center">
      <div
        class="w-24 h-24 bg-[#FEF2F1] rounded-full p-4 flex justify-center items-center">
        <img src="/assets/images/order/order3.svg" alt=""
          class="w-12 h-12 mx-auto mt-1" />
      </div>

      <div class="flex flex-col items-start">
        <h1 class="text-[#A3AED0] font-medium text-2xl">Cancelled Orders</h1>
        <p class="text-black text-2xl font-semibold">
          {{ orderCount.cancelledOrders }}
        </p>
      </div>
    </div>
  </div>

  <div class="p-5 bg-white rounded-2xl drop-shadow-lg">
    <div class="flex gap-5 items-center">
      <div
        class="w-24 h-24 bg-[#F1F7F7] rounded-full p-4 flex justify-center items-center">
        <img src="/assets/images/order/order4.svg" alt=""
          class="w-14 h-14 mx-auto mt-1" />
      </div>

      <div class="flex flex-col items-start">
        <h1 class="text-[#A3AED0] font-medium text-2xl">Delivered Orders</h1>
        <p class="text-black text-2xl font-semibold">
          {{ orderCount.deliveredOrders }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mt-7">
  <h1 class="text-black text-xl font-bold pb-4">Order List</h1>

  <div class="bg-white rounded-lg p-5 mb-5 drop-shadow-lg">
    <div class="flex items-center border border-gray-300 bg-white rounded-xl px-4 py-2">
      <span class="pi pi-search"></span>
      <input type="text" placeholder="Search Orders Id" [(ngModel)]="searchText"
        class="ml-3 w-full focus:outline-none text-gray-700" />
    </div>
  </div>

  <!-- table  -->

  <p-table [value]="products | search : searchText : 'orderNumber'"
    [rowsPerPageOptions]="[5, 10, 20]" [rows]="7" [paginator]="true"
    class="drop-shadow-lg">
    <ng-template pTemplate="header">
      <tr class="flex">
        <th pSortableColumn="orderNumber"
          class="flex items-center w-full text-white bg-[#825092] rounded-t-md">
          Order Id <p-sortIcon field="orderNumber" />
        </th>

        <th pSortableColumn="billingInfo.name"
          class="flex items-center w-full text-white bg-[#825092]">
          Customer <p-sortIcon field="billingInfo.name" />
        </th>

        <!-- -->
        <th pSortableColumn="createdAt"
          class="flex items-center w-full text-white bg-[#825092]">
          Date <p-sortIcon field="createdAt" />
        </th>

        <th pSortableColumn="orderComfirmed"
          class="flex items-center w-full text-white bg-[#825092]">
          Status<p-sortIcon field="orderComfirmed" />
        </th>

        <th pSortableColumn="paymentMethod"
          class="flex items-center w-full text-white bg-[#825092]">
          Payment mode<p-sortIcon field="paymentMethod" />
        </th>

        <th pSortableColumn="payment"
          class="flex items-center w-full text-white bg-[#825092]">
          Paid<p-sortIcon field="payment" />
        </th>

        <th pSortableColumn="total"
          class="flex items-center w-full text-white bg-[#825092]">
          Total<p-sortIcon field="total" />
        </th>

        <th class="flex items-center w-full text-white bg-[#825092] rounded-r-md">
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr class="flex">
        <td class="w-full">{{ product.orderNumber }}</td>
        <td class="w-full">{{ product.billingInfo.name }}</td>
        <td class="w-full">{{ product.createdAt | date : "MMM d yyyy" }}</td>
        <td class="w-full">
          <div [ngSwitch]="product.orderComfirmed">
            <!-- Case: Delivered -->
            <p *ngSwitchCase="'delivered'"
              class="bg-green-100 text-green-600 px-4 py-1 rounded text-sm tracking-wide w-fit">
              Delivered</p>

            <!-- Case: Pending -->
            <p *ngSwitchCase="'pending'"
              class="bg-yellow-100 text-yellow-600 px-4 py-1 rounded text-sm tracking-wide w-fit">
              Pending
            </p>

            <!-- Case: Cancelled -->
            <p *ngSwitchCase="'cancelled'"
              class="bg-gray-100 text-gray-600 px-4 py-1 rounded text-sm tracking-wide w-fit">
              Cancelled
            </p>

            <!-- Case: Returned -->
            <p *ngSwitchCase="'returned'"
              class="bg-yellow-100 text-yellow-600 px-4 py-1 rounded text-sm tracking-wide w-fit">
              Returned
            </p>
          </div>
        </td>

        <td class="w-full">{{ product.paymentMethod }}</td>

        <td class="w-full">
          <ng-container *ngIf="product.payment === true; else notPaid">
            <p class="bg-green-100 text-green-500 px-4 py-1 rounded text-sm w-fit">
              Paid
            </p>
          </ng-container>
          <ng-template #notPaid>
            <p class="bg-red-100 text-red-500 px-4 py-1 rounded text-sm w-fit">
              Not paid
            </p>
          </ng-template>
        </td>

        <td class="w-full font-semibold">{{ product.total }}</td>
        <td class="w-full">
          <button [routerLink]="['/orders/detail', product._id]" pButton
            class="px-3 py-1 text-sm font-medium text-white bg-[#825092] rounded-md">
            View Details
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="mt-7">
  <h1 class="text-black text-xl font-bold pb-4">Return Requests</h1>

  <div class="bg-white rounded-lg p-5 mb-5 drop-shadow-lg">
    <div class="flex items-center border border-gray-300 bg-white rounded-xl px-4 py-2">
      <span class="pi pi-search"></span>
      <input type="text" placeholder="Search Orders Id" [(ngModel)]="searchText2"
        class="ml-3 w-full focus:outline-none text-gray-700" />
    </div>
  </div>

  <p-table *ngIf="returnRequest.length > 0"
    [value]="returnRequest | search : searchText2 : 'orderNumber'"
    [rowsPerPageOptions]="[5, 10, 20]" [rows]="7" [paginator]="true"
    class="drop-shadow-lg">
    <ng-template pTemplate="header">
      <tr class="flex">
        <th pSortableColumn="orderNumber"
          class="flex items-center w-full text-white bg-[#825092] rounded-t-md">
          Order Id <p-sortIcon field="orderNumber" />
        </th>
        <th pSortableColumn="invoiceNumber"
          class="flex items-center w-full text-white bg-[#825092] rounded-t-md">
          Invoice Id <p-sortIcon field="invoiceNumber" />
        </th>
        <th pSortableColumn="billingInfo.name"
          class="flex items-center w-full text-white bg-[#825092]">
          Customer <p-sortIcon field="billingInfo.name" />
        </th>
        <th pSortableColumn="createdAt"
          class="flex items-center w-full text-white bg-[#825092]">
          Date <p-sortIcon field="createdAt" />
        </th>
        <th pSortableColumn="total"
          class="flex items-center w-full text-white bg-[#825092]">
          Total<p-sortIcon field="total" />
        </th>
        <th pSortableColumn="status"
          class="flex items-center w-full text-white bg-[#825092]">
          Status<p-sortIcon field="status" />
        </th>
        <th class="flex items-center w-full text-white bg-[#825092] rounded-r-md">
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr class="flex">
        <td class="w-full">{{ product.orderId.orderNumber }}</td>
        <td class="w-full">{{ product.orderId.invoiceId }}</td>
        <td class="w-full">{{ product.orderId.billingInfo.name }}</td>
        <td class="w-full">{{ product.createdAt | date : "MMM d yyyy" }}</td>
        <td class="w-full">AED {{ product.price | number: '1.2-2'}}</td>
        <td class="w-full" [ngClass]="{
          'text-red-500': product.status === 'Declined',
          'text-yellow-500': product.status === 'Accepted',
          'text-green-500': product.status === 'Returned'
        }">
          {{ product.status }}
        </td>
        <td class="w-full flex gap-5">
          <button (click)="showMessageDialog(product)" pButton
            class="px-3 py-1 text-sm font-medium text-white bg-red-400 rounded-md">
            View
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div *ngIf="returnRequest.length === 0" class="text-center flex justify-center items-center text-gray-500 mt-5 bg-white h-20 drop-shadow-lg rounded-lg">
    No data available
  </div>

</div>


<div class="mt-7">
  <h1 class="text-black text-xl font-bold pb-4">Support Requests</h1>

  <div class="bg-white rounded-lg p-5 mb-5 drop-shadow-lg">
    <div class="flex items-center border border-gray-300 bg-white rounded-xl px-4 py-2">
      <span class="pi pi-search"></span>
      <input type="text" placeholder="Search Orders Id" [(ngModel)]="searchText2"
        class="ml-3 w-full focus:outline-none text-gray-700" />
    </div>
  </div>

  <p-table *ngIf="supportRequest.length > 0" [value]="supportRequest | search : searchText2 : 'orderNumber'"
    [rowsPerPageOptions]="[5, 10, 20]" [rows]="7" [paginator]="true"
    class="drop-shadow-lg">
    <ng-template pTemplate="header">
      <tr class="flex">
        <th pSortableColumn="orderNumber"
          class="flex items-center w-full text-white bg-[#825092] rounded-t-md">
          Order Id <p-sortIcon field="orderNumber" />
        </th>


        <th pSortableColumn="invoiceNumber"
          class="flex items-center w-full text-white bg-[#825092] rounded-t-md">
          Invoice Id <p-sortIcon field="invoiceNumber" />
        </th>

        <th pSortableColumn="billingInfo.name"
          class="flex items-center w-full text-white bg-[#825092]">
          Customer <p-sortIcon field="billingInfo.name" />
        </th>

        <!-- -->
        <th pSortableColumn="createdAt"
          class="flex items-center w-full text-white bg-[#825092]">
          Date <p-sortIcon field="createdAt" />
        </th>

        <th pSortableColumn="total"
          class="flex items-center w-full text-white bg-[#825092]">
          Total<p-sortIcon field="total" />
        </th>

        <th pSortableColumn="status"
          class="flex items-center w-full text-white bg-[#825092]">
          Status<p-sortIcon field="status" />
        </th>

        <th class="flex items-center w-full text-white bg-[#825092] rounded-r-md">
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr class="flex">
        <td class="w-full">{{ product.orderId.orderNumber }}</td>
        <td class="w-full">{{ product.orderId.invoiceId }}</td>
        <td class="w-full">{{ product.orderId.billingInfo.name }}</td>
        <td class="w-full">{{ product.createdAt | date : "MMM d yyyy" }}</td>

        <td class="w-full">AED {{ product.price | number: '1.2-2'}}</td>

        <td class="w-full"
          [ngClass]="{ 'text-red-500': product.status === 'Declined', 'text-yellow-500': product.status === 'Accepted', 'text-green-500': product.status === 'Returned'}">
          {{ product.status }}
        </td>

        <td class="w-full flex gap-5">
          <button (click)="showSupportDialog(product)" pButton
            class="px-3 py-1 text-sm font-medium text-white bg-red-400 rounded-md">
            View
          </button>

        </td>
      </tr>
    </ng-template>
  </p-table>


  <div *ngIf="supportRequest.length === 0" class="text-center flex justify-center items-center text-gray-500 mt-5 bg-white h-20 drop-shadow-lg rounded-lg">
    No data available
  </div>
</div>

<!-- return dialog bx -->
<p-dialog header="" [(visible)]="dialogSupport" [style]="{ width: '55rem' }" class="p-0">
  <div class="grid grid-cols-2">
    <!-- Customer Information Card -->
    <div class="bg-white rounded-lg shadow p-6 w-full border">
      <div class="bg-[#825092] p-4 text-white rounded-t-lg">
        <div class="flex items-center space-x-4">
          <div class="w-12 h-12 bg-gray-200 rounded-full">
            <img class="w-full h-full rounded-full"
              [src]="selectedSupport?.userId?.image ||'/assets/images/customer/user.svg'"
              alt="Customer avatar" />
          </div>
          <div>
            <h3 class="font-bold">{{ selectedSupport?.userId?.name }}</h3>
            <p class="text-sm">{{ selectedSupport?.userId?.email }}</p>
            <p class="text-sm">{{ selectedSupport?.userId?.phone }}</p>
          </div>
        </div>
      </div>

      <div class="flex items-center space-x-4 py-4">
        <img
          [src]="selectedSupport?.productId?.images?.[0] ||'/assets/images/customer/product1.svg'"
          alt="Product Image" class="w-14 h-14 object-cover rounded" />
        <div>
          <p class="font-semibold text-base line-clamp-2">
            {{selectedSupport?.productId?.name}}
          </p>
        </div>
      </div>

      <div class="space-y-2 text-gray-700">
        <div class="flex justify-between">
          <span>Order ID</span>
          <a href="#" class="text-blue-500">#{{selectedSupport?.orderId?.orderNumber}}</a>
        </div>
        <div class="flex justify-between">
          <span>Order Date</span>
          <span>{{selectedSupport?.orderId?.createdAt | date : "MMM d yyyy"}}</span>
        </div>
        <div class="flex justify-between">
          <span>Return Date</span>
          <span>{{selectedSupport?.createdAt | date : "MMM d yyyy"}}</span>
        </div>
        <div class="flex justify-between">
          <span>Payment</span>
          <span class="text-green-500">Yes</span>
        </div>
        <div class="flex justify-between">
          <span>Items</span>
          <span>{{selectedSupport?.quantity}}</span>
        </div>
        <div class="flex justify-between">
          <span>Payment method</span>
          <span>
            {{ selectedSupport?.orderId?.paymentMethod === 'COD' ? 'Cash on Delivery' :
            'Online' }}
          </span>
        </div>
        <div class="flex justify-between">
          <span>Total Amount</span>
          <span class="text-blue-500">AED {{selectedSupport?.price | number:
            '1.2-2'}}</span>
        </div>
      </div>
    </div>

    <!-- Comment and Reply Section -->
    <div class="bg-white rounded-lg shadow p-6 w-full space-y-4">
      <h3 class="font-bold text-gray-800">Customer Comment</h3>
      <p class="border border-[#854D94] p-3 rounded-lg text-gray-700">
        {{selectedSupport?.messages || 'No message available'}}
      </p>

      <div class="space-y-2">
        <h3 class="font-bold text-gray-800">Response</h3>
        <div *ngIf="selectedSupport">
          <textarea #replyBox [(ngModel)]="selectedSupport.response"
            placeholder="Reply..."
            class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:border-[#854D94]"
            [disabled]="selectedRequest?.status !== 'Request'">
          </textarea>
        </div>

        <!-- Error Message -->
        <p *ngIf="errorMessage" class="text-red-500 text-sm">{{ errorMessage }}</p>
      </div>

      <div class="flex justify-end space-x-4"
        *ngIf="selectedSupport?.status === 'Request' ">
        <button class="bg-red-500 text-white font-bold px-4 py-2 rounded-lg"
          (click)="dialogSupport = false">
          cancel
        </button>

        <button class="bg-green-500 text-white font-bold px-4 py-2 rounded-lg"
          (click)="handleSendResponse()">
          Send
        </button>
      </div>

    </div>
  </div>

</p-dialog>

<!-- return message box -->
<p-dialog header="" [(visible)]="returnMessageDialog" [style]="{ width: '55rem', backgroundColor: 'red' }" styleClass="p-0 bg-red-500">
  <div class="grid grid-cols-2">
    <!-- Customer Information Card -->
    <div class="bg-white rounded-lg shadow p-6 w-full border">
      <div class="bg-[#825092] p-4 text-white rounded-t-lg">
        <div class="flex items-center space-x-4">
          <div class="w-12 h-12 bg-gray-200 rounded-full">
            <img class="w-full h-full rounded-full"
              [src]="selectedRequest?.userId?.image ||'/assets/images/customer/user.svg'"
              alt="Customer avatar" />
          </div>
          <div>
            <h3 class="font-bold">{{ selectedRequest?.userId?.name }}</h3>
            <p class="text-sm">{{ selectedRequest?.userId?.email }}</p>
            <p class="text-sm">{{ selectedRequest?.userId?.phone }}</p>

          </div>
        </div>
      </div>

      <div class="flex items-center space-x-4 py-4">
        <img
          [src]="selectedRequest?.productId?.images?.[0] ||'/assets/images/customer/product1.svg'"
          alt="Product Image" class="w-14 h-14 object-cover rounded" />
        <div>
          <p class="font-semibold text-base line-clamp-2">
            {{selectedRequest?.productId?.name}}
          </p>
        </div>
      </div>

      <div class="space-y-2 text-gray-700">
        <div class="flex justify-between">
          <span>Order ID</span>
          <a href="#" class="text-blue-500">#{{selectedRequest?.orderId?.orderNumber}}</a>
        </div>
        <div class="flex justify-between">
          <span>Order Date</span>
          <span>{{selectedRequest?.orderId?.createdAt | date : "MMM d yyyy"}}</span>
        </div>
        <div class="flex justify-between">
          <span>Return Date</span>
          <span>{{selectedRequest?.createdAt | date : "MMM d yyyy"}}</span>
        </div>
        <div class="flex justify-between">
          <span>Payment</span>
          <span class="text-green-500">Yes</span>
        </div>
        <div class="flex justify-between">
          <span>Items</span>
          <span>{{selectedRequest?.quantity}}</span>
        </div>
        <div class="flex justify-between">
          <span>Payment method</span>
          <span>
            {{ selectedRequest?.orderId?.paymentMethod === 'COD' ? 'Cash on Delivery' :
            'Online' }}
          </span>

        </div>
        <div class="flex justify-between">
          <span>Total Amount</span>
          <span class="text-blue-500">AED {{selectedRequest?.price | number:
            '1.2-2'}}</span>
        </div>
      </div>
    </div>

    <!-- Comment and Reply Section -->
    <div class="bg-white rounded-lg shadow p-6 w-full space-y-4">
      <h3 class="font-bold text-gray-800">Customer Comment</h3>
      <p class="border border-[#854D94] p-3 rounded-lg text-gray-700">
        {{selectedRequest?.messages || 'No message available'}}
      </p>



      <div class="space-y-2">
        <h3 class="font-bold text-gray-800">Reply</h3>
        <div *ngIf="selectedRequest">
          <textarea #replyBox [(ngModel)]="selectedRequest.response"
            placeholder="Reply..."
            class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:border-[#854D94]"
            [disabled]="selectedRequest?.status !== 'Request'">
          </textarea>
        </div>

        <!-- Error Message -->
        <p *ngIf="errorMessage" class="text-red-500 text-sm">{{ errorMessage }}</p>
      </div>

      <div class="flex justify-end space-x-4"
        *ngIf="selectedRequest?.status === 'Request'">
        <button class="bg-red-500 text-white font-bold px-4 py-2 rounded-lg"
          (click)="handleReject()">
          Reject
        </button>

        <button class="bg-green-500 text-white font-bold px-4 py-2 rounded-lg"
          (click)="handleAccept()">
          Accept
        </button>
      </div>

    </div>
  </div>
</p-dialog>


