<form action="" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="grid mt-7 drop-shadow-lg">

    <div class="flex items-center justify-between">

      <h1 class="text-black text-[24px] font-bold pb-4">Edit Product</h1>
      <button
      pButton
      icon="pi pi-angle-left"
      class="p-button-sm rounded-full text-xs px-3 py-2 bg-white text-black border-2 border-black mb-3"
      label="BACK"
      type="button"
      (click)="_location.back()"
    ></button>

    </div>
 

    <div class="grid grid-cols-3 gap-3">
      <div class="col-span-2 grid gap-2 h-full">
        <div class="bg-white rounded-lg shadow-md overflow-hidden p-5">
          <app-image-uploader
            [images]="productForm.get('images')?.value"
          ></app-image-uploader>

          <div class="grid gap-4 mt-5">
            <!-- Name Field -->
            <div>
              <h1 class="text-black text-lg pb-3 font-medium">Name</h1>
              <input
                type="text"
                formControlName="name"
                class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
                pInput
                placeholder="Product Name"
              />
              <small *ngIf="hasError('name')" class="text-red-500">
                Name is required.
              </small>
            </div>

            <!-- Description Field -->
            <div>
              <h1 class="text-black text-lg pb-3 font-medium">Description</h1>
              <textarea
                rows="4"
                cols="30"
                formControlName="description"
                class="bg-[#F6F7F9] w-full pl-3 pt-2 rounded-lg placeholder:text-gray-500 border border-gray-200"
                pInputTextarea
                placeholder="Product description"
              ></textarea>
              <small *ngIf="hasError('description')" class="text-red-500">
                Description is required.
              </small>
            </div>

            <!-- Short Description Field -->

            <!-- Purchase Account Name -->
            <div>
              <h1 class="text-black text-lg pb-3 font-medium">
                Purchase Company
              </h1>
              <input
                type="text"
                class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
                pInput
                placeholder="Select"
                formControlName="purchase_account_name"
              />
              <small
                *ngIf="hasError('purchase_account_name')"
                class="text-red-500"
              >
                Brand selection is required.
              </small>
            </div>

            <!-- Stock Fields -->
            <div class="flex gap-5">
              <div>
                <h1 class="text-black text-lg pb-3 font-medium">
                  Available Stock
                </h1>
                <input
                  type="text"
                  class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
                  pInput
                  placeholder="count"
                  formControlName="available_stock"
                />
                <div
                  *ngIf="hasError('available_stock')"
                  class="text-red-500 text-sm"
                >
                  Stock is required and must be a number.
                </div>
              </div>

              <div>
                <h1 class="text-black text-lg pb-3 font-medium">
                  Actual Available Stock
                </h1>
                <input
                  type="text"
                  class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
                  pInput
                  placeholder="count"
                  formControlName="actual_available_stock"
                />
                <div
                  *ngIf="hasError('actual_available_stock')"
                  class="text-red-500 text-sm"
                >
                  Actual stock is required and must be a number.
                </div>
              </div>
            </div>
          </div>
        </div>

        <p-table
          [value]="branchList"
          [rowsPerPageOptions]="[5, 10, 20]"
          [rows]="7"
          class="drop-shadow-lg"
        >
          <ng-template pTemplate="header">
            <tr class="flex">
              <th
                pSortableColumn="branchName"
                class="flex items-center w-full text-white bg-[#825092] rounded-t-md justify-center"
              >
                Branch <p-sortIcon field="branchName" />
              </th>

              <th
                pSortableColumn="count"
                class="flex items-center w-full text-white bg-[#825092] justify-center"
              >
                Stock Count <p-sortIcon field="count" />
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr class="flex">
              <td class="w-full text-black cursor-pointer flex justify-center">
                {{ product.branchName }}
              </td>

              <td class="w-full text-black cursor-pointer flex justify-center">
                {{ product.count }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div
        class="col-span-1 bg-white rounded-lg shadow-md overflow-hidden p-5 flex flex-col gap-5 h-full"
      >
        <div class="">
          <h1 class="text-black text-lg pb-3 font-medium">Add Tags</h1>

          <div class="flex flex-wrap gap-2 mb-3">
            <p-chip
              *ngFor="let chip of chipsControl.value; let i = index"
              [label]="chip"
              [removable]="true"
              (onRemove)="removeChip(i)"
            ></p-chip>
          </div>
          <div class="flex gap-4 items-center">
            <input
              type="text"
              #chipInput
              class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
              placeholder="Type and press add"
            />

            <button
              (click)="addChip()"
              type="button"
              class="px-4 border bg-[#F6F7F9]"
            >
              Add
            </button>
          </div>

          <small *ngIf="hasError('chips')" class="text-red-500">
            Add tags is required.
          </small>
        </div>

        <div class="">
          <h1 class="text-black text-lg pb-3">Visibility</h1>
          <div class="flex items-center space-x-4">
            <div
              [ngClass]="
                productForm.get('status')?.value === 'active'
                  ? 'border-2 border-[#854D94] text-[#854D94]'
                  : 'text-[#6E6E6E] bg-[#F6F7F9] border border-gray-200'
              "
              class="inline-flex items-center px-4 py-[10px] text-sm font-medium rounded-md"
            >
              <label for="hidden" class="flex items-center cursor-pointer">
                <span class="pr-2 text-base font-medium">Publish</span>
                <input
                  id="hidden"
                  type="radio"
                  formControlName="status"
                  [value]="'active'"
                  [checked]="productForm.get('status')?.value === 'active'"
                  class="appearance-none peer h-3 w-3 border-2 border-gray-300 rounded-full checked:bg-[#854D94] checked:border-2"
                />
              </label>
            </div>
            <div
              [ngClass]="
                productForm.get('status')?.value === 'inactive'
                  ? 'border-2 border-[#854D94] text-[#854D94]'
                  : 'text-[#6E6E6E] bg-[#F6F7F9] border border-gray-200'
              "
              class="inline-flex items-center px-4 py-[10px] text-sm font-medium rounded-md"
            >
              <label for="published" class="flex items-center cursor-pointer">
                <span class="pr-2 text-base font-medium">Hidden</span>
                <input
                  id="published"
                  type="radio"
                  formControlName="status"
                  [value]="'inactive'"
                  [checked]="productForm.get('status')?.value === 'inactive'"
                  class="appearance-none peer h-3 w-3 border-2 border-gray-300 rounded-full checked:bg-[#854D94] checked:border-2"
                />
              </label>
            </div>
          </div>
        </div>

        <div class="">
          <h1 class="text-black text-lg pb-3">Publish date</h1>

          <input
            type="date"
            class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
            formControlName="publishDate"
            placeholder="16 Sep 2024"
          />
          <!-- Error Message -->
          <div
            *ngIf="
              productForm.get('publishDate')?.invalid &&
              productForm.get('publishDate')?.touched
            "
            class="text-red-500 text-sm"
          >
            <div *ngIf="productForm.get('publishDate')?.errors?.['required']">
              Publish date is required.
            </div>
          </div>
          <h3 class="text-[#6E6E6E] font-medium text-base pt-2">
            The product will not be visible until the specified date
          </h3>
        </div>

        <div class="">
          <h1 class="text-black text-lg pb-3 font-medium">Product Count</h1>

          <input
            type="text"
            class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
            pInput
            placeholder="Product available count"
            formControlName="stock_on_hand"
          />
          <div
            *ngIf="
              productForm.get('stock_on_hand')?.invalid && productForm.get('stock_on_hand')?.touched"
            class="text-red-500 text-sm"
          >
            <div *ngIf="productForm.get('stock_on_hand')?.errors?.['required']">
              Product Count is required.
            </div>
          </div>
        </div>

        <div class="">
          <h1 class="text-black text-lg pb-3 font-medium">Product price</h1>

          <input
            type="text"
            class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
            pInput
            placeholder="AED"
            formControlName="rate"
          />

          <div
            *ngIf="
              productForm.get('rate')?.invalid &&
              productForm.get('rate')?.touched
            "
            class="text-red-500 text-sm"
          >
            <div *ngIf="productForm.get('rate')?.errors?.['required']">
              Product price is required.
            </div>
          </div>
        </div>

        <div class="">
          <h1 class="text-black text-lg pb-3 font-medium">Purchase price</h1>

          <input
            type="text"
            class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
            pInput
            placeholder="AED"
            formControlName="purchase_rate"
          />

          <div
            *ngIf="
              productForm.get('purchase_rate')?.invalid &&
              productForm.get('purchase_rate')?.touched
            "
            class="text-red-500 text-sm"
          >
            <div *ngIf="productForm.get('purchase_rate')?.errors?.['required']">
              Product purchase rate is required.
            </div>
          </div>
        </div>

        <div class="">
          <h1 class="text-black text-lg pb-3 font-medium">Payment</h1>
          <p-multiSelect
            [options]="payment"
            placeholder="Select available payment methods"
            optionLabel="name"
            display="chip"
            class="bg-[#F6F7F9] w-full"
            styleClass=" w-full bg-[#F6F7F9] pl-3 pt-2 h-14 rounded-lg placeholder:text-gray-500 border border-gray-200"
            appendTo="body"
            [showClear]="true"
            formControlName="paymentMethods"
            optionValue="code"
          />

          <div
            *ngIf="
              productForm.get('paymentMethods')?.invalid &&
              productForm.get('paymentMethods')?.touched
            "
            class="text-red-500 text-sm"
          >
            <div
              *ngIf="productForm.get('paymentMethods')?.errors?.['required']"
            >
              Payment method is required.
            </div>
          </div>
        </div>

        <div class="">
          <h1 class="text-black text-lg pb-3 font-medium">
            Maximum discount for the prodcut
          </h1>

          <input
            type="text"
            class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
            pInput
            placeholder="25%"
            formControlName="maxDiscount"
          />

          <div
            *ngIf="
              productForm.get('maxDiscount')?.invalid &&
              productForm.get('maxDiscount')?.touched
            "
            class="text-red-500 text-sm"
          >
            <div *ngIf="productForm.get('maxDiscount')?.errors?.['required']">
              Maximum product discount is required.
            </div>
          </div>
        </div>

        <div class="">
          <p class="text-black text-lg pb-3 font-medium">Average rating</p>
          <div class="flex items-center gap-1">
            <p-rating formControlName="rating" />
            <span class="text-blue-500 text-sm">4.0 (658 ratings)</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white rounded-md drop-shadow-lg p-6 flex flex-col gap-6 mt-5">
    <div class="grid">
      <h1 class="text-black text-xl font-bold pb-4">Analytics</h1>
      <p-multiSelect
        [options]="analytics"
        placeholder="Select Analytics"
        optionLabel="name"
        display="chip"
        class="bg-[#F6F7F9] w-full"
        styleClass=" w-full bg-[#F6F7F9] pl-3 pt-2 h-14 rounded-lg placeholder:text-gray-500 border border-gray-200"
        appendTo="body"
        [showClear]="true"
        formControlName="analytics"
        optionValue="code"
      />

      <div
        *ngIf="
          productForm.get('analytics')?.invalid &&
          productForm.get('analytics')?.touched
        "
        class="text-red-500 text-sm"
      >
        <div *ngIf="productForm.get('analytics')?.errors?.['required']">
          Publish date is required.
        </div>
      </div>
    </div>

    <div class="">
      <h1 class="text-black text-xl font-bold pb-4">Product Category</h1>

      <div class="flex gap-4">
        <!-- Parent Category Dropdown -->
        <div class="grid">
          <h1 class="text-lg pb-3 text-black">Category</h1>
          <p-dropdown
            [options]="categories"
            optionLabel="description"
            [(ngModel)]="selectedParentCategory"
            formControlName="parentCategory"
            placeholder="Select a Parent Category"
            class="bg-[#F6F7F9] w-full"
            styleClass="w-96 bg-[#F6F7F9] pl-3 pt-2 h-14 rounded-lg placeholder:text-gray-500 border border-gray-200"
            (onChange)="onParentCategoryChange()"
            appendTo="body"
            optionValue="_id"
          ></p-dropdown>

          <small *ngIf="hasError('parentCategory')" class="text-red-500">
            Select Category is required.
          </small>
        </div>

        <!-- Category Dropdown -->
        <div class="grid">
          <h1 class="text-lg pb-3 text-black">Sub Category</h1>
          <p-dropdown
            [options]="filteredCategories"
            optionLabel="title"
            [(ngModel)]="selectedCategory"
            formControlName="category"
            placeholder="Select a Sub Category"
            class="bg-[#F6F7F9] w-full"
            styleClass="w-96 bg-[#F6F7F9] pl-3 pt-2 h-14 rounded-lg placeholder:text-gray-500 border border-gray-200"
            (onChange)="onCategoryChange()"
            appendTo="body"
            optionValue="_id"
          ></p-dropdown>
        </div>

        <!-- Sub Category Dropdown -->
        <div class="grid">
          <h1 class="text-lg pb-3 text-black">Child Category</h1>
          <p-dropdown
            [options]="filteredSubCategories"
            optionLabel="title"
            [(ngModel)]="selectedSubCategory"
            formControlName="subCategory"
            placeholder="Select a Child Category"
            class="bg-[#F6F7F9] w-full"
            styleClass="w-96 bg-[#F6F7F9] pl-3 pt-2 h-14 rounded-lg placeholder:text-gray-500 border border-gray-200"
            appendTo="body"
            optionValue="_id"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="">
      <div class="flex justify-between items-center">
        <h1 class="text-black text-xl font-bold pb-4">Available Variants</h1>

        <!-- Add New Variant Button -->
        <button
          (click)="addVariant()"
          type="button"
          class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
        >
          Add Variant
        </button>
      </div>

      <div formArrayName="variants" class="flex flex-col gap-5">
        <div
          *ngFor="let variant of variant.controls; let i = index"
          [formGroupName]="i"
          class="flex gap-4 items-center"
        >
          <div class="grid">
            <h1 class="text-lg pb-3 text-black">Variant</h1>
            <input
              type="text"
              formControlName="variant"
              class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
              pInput
              placeholder="Flavour / Colour / Type"
            />

            <small *ngIf="hasError('variant')" class="text-red-500">
              Variant is required.
            </small>
          </div>

          <div class="grid">
            <h1 class="text-lg pb-3 text-black">Size</h1>
            <input
              type="text"
              formControlName="size"
              class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
              pInput
              placeholder="Size / Type"
            />

            <small *ngIf="hasError('size')" class="text-red-500">
              Size is required.
            </small>
          </div>

          <div class="grid">
            <h1 class="text-lg pb-3 text-black">Available Stock</h1>
            <input
              type="text"
              formControlName="availableStock"
              class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
              pInput
              placeholder="Product stock"
            />
            <small *ngIf="hasError('availableStock')" class="text-red-500">
              Stock quantity is required.
            </small>
          </div>

          <!-- Remove Variant Button -->
          <button
            (click)="removeVariant(i)"
            class="text-red-500 hover:text-red-700 font-semibold mt-10"
          >
            <i class="pi pi-trash" style="font-size: 1.4rem"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-7 bg-white rounded-md drop-shadow-lg p-5 grid gap-4">
    <h1 class="text-black text-[24px] font-bold pb-4">Additional Details</h1>

    <p-tabView>
      <p-tabPanel header="Description">
        <p-editor
          [style]="{ height: '420px' }"
          formControlName="additionalDescription"
        />

        <small *ngIf="hasError('additionalDescription')" class="text-red-500">
          Additional Description is required.
        </small>
      </p-tabPanel>

      <p-tabPanel header="Additional">
        <div formArrayName="additionals" class="flex flex-col gap-5">
          <button
            (click)="addAdditional()"
            class="border border-[#854D94] text-[#854D94] font-bold px-4 py-2 rounded-lg w-fit"
          >
            Add Field
          </button>

          <div
            *ngFor="let variant of additionals.controls; let i = index"
            [formGroupName]="i"
            class="flex gap-4 items-center"
          >
            <div class="grid">
              <h1 class="text-lg pb-3 text-black">Key</h1>
              <input
                type="text"
                formControlName="key"
                class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
                pInput
                placeholder="Type of packing"
              />
            </div>

            <div class="grid">
              <h1 class="text-lg pb-3 text-black">Value</h1>
              <input
                type="text"
                formControlName="value"
                class="bg-[#F6F7F9] h-12 w-full pl-5 rounded-lg placeholder:text-gray-500 border border-gray-200"
                pInput
                placeholder="bottle"
              />
            </div>

            <!-- Remove Variant Button -->
            <button
              (click)="removeAdditionals(i)"
              class="text-red-500 hover:text-red-700 font-semibold mt-10"
            >
              <i class="pi pi-trash" style="font-size: 1.4rem"></i>
            </button>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>

  <div class="flex justify-end space-x-3 w-full mt-5">
    <button
      class="border border-[#854D94] text-[#854D94] font-bold px-4 py-2 rounded-lg"
    >
      Cancel
    </button>
    <button
      class="bg-[#854D94] text-white font-bold px-4 py-2 rounded-lg"
      type="submit"
    >
      Save
    </button>
  </div>
</form>

<div class="grid mt-7">
  <h1 class="text-black text-[24px] font-bold pb-4">Available Variants</h1>

  <p-table
    [value]="variants"
    [rowsPerPageOptions]="[5, 10, 20]"
    [rows]="7"
    class="drop-shadow-lg"
  >
    <ng-template pTemplate="header">
      <tr class="flex">
        <th
          pSortableColumn="price"
          class="flex items-center w-full text-white bg-[#825092] rounded-t-md justify-center"
        >
          Price <p-sortIcon field="price" />
        </th>

        <th
          pSortableColumn="size"
          class="flex items-center w-full text-white bg-[#825092] justify-center"
        >
          Size <p-sortIcon field="size" />
        </th>

        <th
          pSortableColumn="flavour"
          class="flex items-center w-full text-white bg-[#825092] justify-center"
        >
          Flavour <p-sortIcon field="flavour" />
        </th>

        <th
          pSortableColumn="stock"
          class="flex items-center w-full text-white bg-[#825092] justify-center"
        >
          Stock <p-sortIcon field="stock" />
        </th>

        <th
          pSortableColumn="exp"
          class="flex items-center w-full text-white bg-[#825092] justify-center"
        >
          Exp Date <p-sortIcon field="exp" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr class="flex">
        <td class="w-full text-black cursor-pointer flex justify-center">
          {{ product.price }}
        </td>

        <td class="w-full text-black cursor-pointer flex justify-center">
          {{ product.size }}
        </td>

        <td class="w-full text-black cursor-pointer flex justify-center">
          {{ product.flavour }}
        </td>

        <td class="w-full text-black cursor-pointer flex justify-center">
          {{ product.stock }}
        </td>

        <td class="w-full text-black cursor-pointer flex justify-center">
          {{ product.exp }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
