<div class="flex flex-col gap-5">
    <div class="flex flex-col">
        <label for="Question" class="font-semibold">Question</label>
        <input type="text" placeholder="Question" class="p-2 outline-none">
    </div>
    <div class="flex flex-col">
        <label for="Answer" class="font-semibold">Answer</label>
        <textarea name="" id="" class="p-2 outline-none" placeholder="Answer"></textarea>
    </div>
    <div class="flex justify-end gap-2">
        <button class="border border-[#854D94] bg-white text-[#854D94] px-3 py-1 rounded-md text-lg">Cancel</button>
        <button class="bg-[#854D94] text-white px-3 py-1 rounded-md text-lg">Add</button>
    </div>
</div>
