<div *ngIf="!isSubmitted">
  <div class="flex flex-col gap-5">
    <h2 class="text-3xl font-semibold text-center text-white">Login to your Account</h2>
    <div class="flex flex-col gap-1">
      <label for="email" class="text-white font-semibold">Email</label>
      <div class="text-white border border-white rounded-md px-2">
          <span class="pi pi-user"></span>
          <input type="text" placeholder="Enter your mail" class="p-2  bg-[#825092] placeholder-white outline-none" />
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <label for="password" class="text-white font-semibold">Password</label>
      <div class="text-white border border-white rounded-md px-2">
        <span class="pi pi-lock"></span>
        <input type="password" placeholder="Enter your password" class="p-2 text-white bg-[#825092] placeholder-white outline-none"/>
      </div>
    </div>
    <div class="w-full text-center rounded-md bg-white">
      <button class="p-2 font-semibold" (click)="onLogin()">Login</button>
    </div>
  </div>
</div>

<div *ngIf="isSubmitted">
    <app-otp></app-otp>
</div>
