<div class="flex justify-between items-start">
  <h1 class="text-black text-[24px] font-bold">Orders Details</h1>

  <button
    class="get-data-button bg-[#825092] text-white px-4 py-2 rounded mb-4 float-right"
    pButton
    (click)="showDialog()"
  >
    Update Order
  </button>
</div>

<div class="grid grid-cols-3 gap-3 mt-7">
  <div class="col-span-2 grid gap-4">
    <div class="bg-white drop-shadow-lg py-4 px-5 rounded-md">
      <!-- total -->
      <div class="flex gap-5 items-center pb-2">
        <h1 class="text-black font-bold text-xl">
          Order ID
          <span class="text-[#007EF2] text-lg font-semibold ml-1"
            >#{{ order.orderNumber }}</span
          >
        </h1>
        <h5 class="text-[#00B03B] text-lg font-semibold">
          Ordered Date:
          <span class="text-[#7E7E7E] font-bold text-xl">{{  order.createdAt   | date  : "MMM d yyyy" }}</span>
        </h5>
      </div>

      <div class="flex gap-2 items-center">
        <h1 class="text-[#000000] font-medium text-lg">
          {{ order.product?.length }} Items
        </h1>
        |
        <h1 class="text-[#000000] font-medium text-lg">
          Total AED {{ order.total }}
        </h1>
        |
        <h1 class="text-[#000000] font-medium text-lg">Offer Applied 30%</h1>
        |
        <h1
          *ngIf="order?.paymentMethod === 'COD'"
          class="text-[#000000] font-medium text-lg"
        >
          Cash on Delivery
        </h1>
        <h1
          *ngIf="order?.paymentMethod === 'Online'"
          class="text-[#000000] font-medium text-lg"
        >
          Online Payment
        </h1>
        |
        <p
          *ngIf="order?.payment === true"
          class="bg-green-100 text-green-500 px-4 py-1 rounded text-sm w-fit"
        >
          Paid
        </p>
        <p
          *ngIf="order?.payment === false"
          class="bg-red-100 text-red-500 px-4 py-1 rounded text-sm w-fit"
        >
          Not paid
        </p>
      </div>
    </div>

    <!-- totallllllllllllll. -->

    <div class="bg-white drop-shadow-lg rounded-lg overflow-hidden">
      <table class="w-full table-auto border-collapse">
        <thead>
          <tr class="bg-[#825092] text-white">
            <th class="px-4 py-3 text-left w-[50%]">Items</th>
            <th class="px-4 py-3 text-center">Quantity</th>
            <th class="px-4 py-3 text-right">Price</th>
            <th class="px-4 py-3 text-right">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items" class="border-b">
            <td class="px-4 py-4 flex items-center space-x-4">
              <img [src]="item.image" alt="Product Image" class="w-12 h-12" />
              <span class="line-clamp-2 tracking-wide">{{ item.name }}</span>
            </td>
            <td class="px-4 py-4 text-center">{{ item.quantity }}</td>
            <td class="px-4 py-4 text-right">AED {{ item.price }}</td>
            <td class="px-4 py-4 text-right">AED {{ item.amount }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="px-4 py-2 font-bold">Subtotal</td>
            <td class="px-4 py-2 text-right">AED {{ subtotal }}</td>
          </tr>
          <tr>
            <td colspan="3" class="px-4 py-2 font-bold">VAT (5%)</td>
            <td class="px-4 py-2 text-right">AED {{ vat }}</td>
          </tr>
          <tr>
            <td colspan="3" class="px-4 py-2 font-bold">Delivery Charge</td>
            <td class="px-4 py-2 text-right">AED {{ deliveryCharge }}</td>
          </tr>
          <tr class="border-b">
            <td colspan="3" class="px-4 py-2 font-bold">Total Amount</td>
            <td class="px-4 py-2 text-right font-bold">
              AED {{ totalAmount }}
            </td>
          </tr>
        </tfoot>
      </table>

      <div class="flex justify-center items-center gap-3 my-5">
        <button class="text-white bg-[#825092] text-lg px-5 py-2 rounded-lg">
          Download Invoice
        </button>
        <button
          class="text-[#825092] text-lg border border-[#825092] px-5 py-2 rounded-lg"
        >
          Download Sales Order
        </button>
      </div>
    </div>
  </div>

  <div class="col-span-1 grid gap-4">
    <div class="bg-white drop-shadow-lg py-4 px-5 rounded-md h-fit">
      <h1 class="text-black font-bold text-xl">Customer</h1>

      <div class="flex gap-3 mt-4 items-center">
        <img
          class="w-20 h-20 rounded-full"
          [src]="order.user?.image || '/assets/images/customer/user.svg'"
          alt="Customer avatar"
        />

        <div class="">
          <h1 class="text-base font-semibold text-black">
            {{ order.user?.name }}
          </h1>
          <span class="text-black text-sm font-medium"
            >{{ order.totalOrder }} orders</span
          >
        </div>
      </div>
    </div>

    <div class="bg-white drop-shadow-lg py-4 px-5 rounded-md h-fit">
      <h1 class="text-black font-bold text-xl">Contact Person</h1>

      <div class="p-1 pt-3 flex flex-col items-start">
        <h1 class="text-lg font-medium text-black tracking-normal">
          {{ order.user?.name }}
        </h1>
        <h1 class="text-lg font-medium text-black tracking-normal">
          {{ order.user?.email }}
        </h1>
        <h4 class="text-black text-base font-medium tracking-normal">
          +{{ order.user?.phone }}
        </h4>
      </div>
    </div>

    <div class="bg-white drop-shadow-lg rounded-md h-fit flex flex-col">
      <div class="py-4 px-5">
        <h1 class="text-black font-bold text-xl">Shipping Address</h1>

        <div class="p-1 pt-2 flex flex-col items-start">
          <h1 class="text-base font-semibold text-black tracking-normal">
            {{ order.shippingAddress?.type }}
          </h1>
          <h1 class="text-base font-medium text-black tracking-normal">
            {{ order.shippingAddress?.flatname }},
            {{ order.shippingAddress?.flatno }},
          </h1>
          <h1 class="text-base font-medium text-black tracking-normal">
            {{ order.shippingAddress?.street }},
            {{ order.shippingAddress?.landMark }},
            {{ order.shippingAddress?.city }},
            {{ order.shippingAddress?.country }},
            {{ order.shippingAddress?.pin }},
          </h1>
        </div>
      </div>

      <div class="bg-[#825092] text-white px-3 py-2 rounded-b-md">
        <h1 class="font-semibold text-sm">
          Distance :<span>11 km away from the branch</span>
        </h1>
      </div>
    </div>

    <div class="bg-white drop-shadow-lg rounded-md h-fit py-4 px-5">
      <h1 class="text-black font-bold text-xl">Billing Address</h1>

      <div class="p-1 pt-2 flex flex-col items-start">
        <h1 class="text-base font-medium text-black tracking-normal">
          {{ order.billingInfo?.name }}
        </h1>
        <h1 class="text-base font-medium text-black tracking-normal">
          {{ order.billingInfo?.addresss }}, {{ order.billingInfo?.city }},
          {{ order.billingInfo?.phone }}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="grid mt-7">
  <h1 class="text-black text-[24px] font-bold pb-4">Order Progress</h1>

  <div class="grid grid-cols-3 gap-3">
    <div class="bg-white col-span-2 drop-shadow-lg rounded-md py-10">
      <!-- <app-order-tracking [timeline]="orderTimeline"></app-order-tracking> -->
    </div>

    <div class="bg-white drop-shadow-lg py-4 px-5 rounded-md h-fit">
      <div class="flex justify-between items-center">
        <h1 class="text-black font-bold text-xl">Driver Details</h1>

        <p-button
          label="share location"
          icon="pi pi-map-marker"
          class="bg-[#854D94] text-white px-3 py-1 rounded"
        />
      </div>

      <div class="p-1 pt-3 flex flex-col items-start">
        <h1 class="text-lg font-medium text-black tracking-normal">
          Driver name
        </h1>
        <h4 class="text-black text-base font-medium tracking-normal">
          +971 98945623
        </h4>
        <h4 class="text-black text-base font-medium tracking-normal">
          +971 98945623 <i class="pi pi-whatsapp ml-2" style="color: green"></i>
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="mt-7 hidden">
  <h1 class="text-black text-[24px] font-bold pb-4">Order Progress</h1>

  <div class="grid grid-cols-3">
    <div class="col-span-2 bg-white rounded-lg drop-shadow-lg p-4">
      <div class="grid grid-cols-4 py-3 border-b border-gray-200">
        <div class="col-span-2">
          <p class="text-base font-semibold text-black">Payment</p>
          <p class="text-sm text-gray-500 tracking-wide">Via Payby</p>
        </div>
        <p class="text-sm text-gray-500">16-09-2024</p>

        <div class="text-right">
          <p class="text-base font-semibold text-black">AED 1050.00</p>
        </div>
      </div>

      <div class="grid grid-cols-4 py-3 border-b border-gray-200">
        <div class="col-span-2">
          <p class="text-base font-semibold text-black">Payment</p>
          <p class="text-sm text-gray-500 tracking-wide">Cash on Delivery</p>
        </div>
        <p class="text-sm text-gray-500">14-09-2024</p>

        <div class="text-right">
          <p class="text-base font-semibold text-black">AED 199.00</p>
        </div>
      </div>

      <div class="grid grid-cols-4 py-3">
        <div class="col-span-2">
          <p class="text-base font-semibold text-black">Refund</p>
          <p class="text-sm text-gray-500 tracking-wide">To Payby</p>
        </div>
        <p class="text-sm text-gray-500">01-05-2024</p>

        <div class="text-right">
          <p class="text-base font-semibold text-red-500">AED -350.00</p>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog
  header="Update Order"
  [(visible)]="orderUpdated"
  [style]="{ width: '40rem' }"
  class="p-0"
>


</p-dialog>