::ng-deep .p-confirm-popup-footer .p-button-danger {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: red;
  margin-left: 5px;
  color: white;
}

::ng-deep .p-confirm-popup-footer .p-confirm-popup-reject {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: blue;
  margin-left: 5px;
  color: white;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: black;
  background-color: rgb(171, 171, 171);
}

::ng-deep
  .p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled)
  .p-tabview-nav-link {
  color: gray;
}
